.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: background-color 0.5s;
}

.gray-1 {
  background-color: hsl(0, 0%, 0%);
}
.gray-2 {
  background-color: hsl(0, 0%, 10%);
}
.gray-3 {
  background-color: hsl(0, 0%, 20%);
}
.gray-4 {
  background-color: hsl(0, 0%, 30%);
}
.gray-5 {
  background-color: hsl(0, 0%, 40%);
}
.gray-6 {
  background-color: hsl(0, 0%, 50%);
}
.gray-7 {
  background-color: hsl(0, 0%, 60%);
}
.gray-8 {
  background-color: hsl(0, 0%, 70%);
}
.gray-9 {
  background-color: hsl(0, 0%, 80%);
}
.gray-10 {
  background-color: hsl(0, 0%, 90%);
}

.color-1 {
  background-color: hsl(calc(360 * 0.1), 80%, 50%);
}
.color-2 {
  background-color: hsl(calc(360 * 0.2), 80%, 50%);
}
.color-3 {
  background-color: hsl(calc(360 * 0.3), 80%, 50%);
}
.color-4 {
  background-color: hsl(calc(360 * 0.4), 80%, 50%);
}
.color-5 {
  background-color: hsl(calc(360 * 0.5), 80%, 50%);
}
.color-6 {
  background-color: hsl(calc(360 * 0.6), 80%, 50%);
}
.color-7 {
  background-color: hsl(calc(360 * 0.7), 80%, 50%);
}
.color-8 {
  background-color: hsl(calc(360 * 0.8), 80%, 50%);
}
.color-9 {
  background-color: hsl(calc(360 * 0.9), 80%, 50%);
}
.color-10 {
  background-color: hsl(calc(360 * 1), 80%, 50%);
}